@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #23242a;
    transition: .5s;
    flex-direction: column;
}
.box {
    position: relative;
    width: 760px;
    height: 420px;
    background: #1c1c1c;
    border-radius: 3px;
    overflow: hidden;
}
.box::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 760px;
    height: 420px;
    background: linear-gradient(0deg, transparent, #1e9bff, #ff1867, #6eff3e, transparent);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}
.box::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 760px;
    height: 420px;
    background: linear-gradient(0deg, transparent, #1e9bff, #ff1867, #6eff3e, transparent);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}
@keyframes animate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.form {
    position: absolute;
    inset: 2px;
    background: #28292d;
    z-index: 10;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.form h2 {
    color: #1e9bff;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.1em;
}
.form h3 {
    color: #FFFFFF;
    font-weight: 300;
    text-align: center;
}
.form p {
    color: #FFFFFF;
    font-size: 15px;
    text-align: center;
}
a {
    display: flex;
    justify-content: center;
    position: relative;
    background: #fff;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-weight: 600;
    padding: 10px 30px;
    transition: 0.5s;
    margin: 20px 0;
}
a:hover {
    background: var(--clr);
    color: var(--clr);
    letter-spacing: 0.25em;
    box-shadow: 0 0 35px var(--clr);
}
a:before {
    content: '';
    position: absolute;
    inset: 2px;
    background: #28292d;
}
a span {
    position: relative;
    z-index: 1;
}
a i {
    position: absolute;
    inset: 0;
    display: block;
}
a i::before {
    content: '';
    position: absolute;
    top: 0;
    left: 80%;
    width: 10px;
    height: 4px;
    background: #28292d;
    transform: translateX(-50px) skewX(325deg);
    transition: 0.5s;
}
a:hover i::before {
    width: 20px;
    left: 20%;
}
a i::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 10px;
    height: 4px;
    background: #28292d;
    transform: translateX(-50px) skewX(325deg);
    transition: 0.5s;
}
a:hover i::after {
    width: 20px;
    left: 80%;
}